<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="/dashboard" class="app-brand-link">
      <span class="app-brand-logo demo"> </span>
      <span class="app-brand-text demo menu-text fw-bolder ms-2"
        >Get Pro Writer</span
      >
    </a>

    <a
      href="javascript:void(0);"
      class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none"
    >
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner ps py-1">
    <!-- Dashboard -->
    <li class="menu-item active">
      <a href="/dashboard" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/users" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">Users</div>
      </a>
    </li>


    <li class="menu-item">
      <a href="/workSample" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">Work Sample</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/blog" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">Blogs</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/authors" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">Authors</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/query" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">Contact Us</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/faqs" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">FAQ</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/services" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">Services</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/coupon" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">Coupon</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/career" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">Career</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/chats" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">Chats</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/adminWalletHistory" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">Wallet Transactions History</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/adminOrderHistory" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">Order History</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/extraCredit" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">Extra credit</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/contentType" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">Content Type</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/expertLevel" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">Expert Level</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/subAdmin" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">Sub Admin</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/addPermission" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables"> Add Permission Name</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/role" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">Role</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/reviews" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Tables">Reviews</div>
      </a>
    </li>

   
    <!-- <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
          <div data-i18n="Authentications">Authentications</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="auth-login-basic.html" class="menu-link" target="_blank">
              <div data-i18n="Basic">Login</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="auth-register-basic.html" class="menu-link" target="_blank">
              <div data-i18n="Basic">Register</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="auth-forgot-password-basic.html" class="menu-link" target="_blank">
              <div data-i18n="Basic">Forgot Password</div>
            </a>
          </li>
        </ul>
      </li>  -->

    <!-- Forms & Tables -->
   
  </ul>
</aside>
